# Create a function that takes the number of wins, draws and losses and calculates the number of points a football team has obtained so far. Check which is the overall winner w.r.t points.
(wins get 3 points, draws get 1 point, losses get 0 points)

Team 1: wins=3, draws=1, losses=3

Team 2: wins=4, draws=0, losses=3

First we will declare a function to calculate total points and declare its parameters.

`football_points(wins, draws, losses)`

Think of logic to compute total points.

`total=(wins *3)+ (draws *1)+ (losses *0)`

Then return that total

`return total`

In [10]:
def football_points(wins, draws, losses):
  total=(wins*3)+(draws*1)+(losses*0)
  return total

team1=football_points(3,1,3)
team1

11

In [11]:
team2=football_points(4,0,3)
team2

12

Now check which team is the winner using if else statement

In [14]:
if team1>team2:
  print("Team 1 is the Winner!")
else:
  print("Team 2 is the Winner!")

Team 2 is the Winner!

# Iterate the given list of numbers and print only those numbers which are divisible by 5
Output should be like

Given list is  [10, 20, 33, 46, 55]

Divisible by 5

10

20

55

First make a list

`num_list = [10, 20, 33, 46, 55]`

Then print the list

`print("Given list:", num_list)`

`print('Divisible by 5:')`

Then use for loop to iterate the list

`for num in num_list:`

think of logic to calculate divisiblity by 5

  `  if num % 5 == 0:`

  print result

       ` print(num)`

In [15]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

# If you want to learn more about Python
Course:

Certification Link: https://www.kaggle.com/learn/python

Basic Python Course: https://www.coursera.org/specializations/python 

Book:

Learning Python
Book by David Ascher and Mark Lutz

# Feel free to connect with us
Eman Amjad

https://www.linkedin.com/in/emanamjad/

Muqaddas Fatima

https://www.linkedin.com/in/muqaddasfatima/