## Lesson 0.0: Hello World

One of the most basic programs that is always written first is called **Hello World**

1. Click on this cell. This cell will highlight.
1. Click the "+ CODE" button in the header. This will create a cell in the next line.
    - optional: keyboard shortcut: **`CMD+M B`**

1. In this cell, enter:

> ```python
> # Your name
> print( "Hello world!" )
> ```

4. Click on the "play" button to the left of the cell. The first time you run a cell in a colab notebook it might take as long as 10-20 seconds to finish. After that, it's a lot faster.
    * optional: keyboard shortcut: `SHIFT+ENTER`
    
-----------

In [ ]:
print('Hello World!')

Hello World!

### Note

In Python, anything after the `#` sign is _not executed_. These are called "comments". Lines that start with `#`are  ignored by the Python interpreter and plays no role in the computer program. It's just there as a note to humans reading the code.

## Lesson 0.1: Hello World, Simplified

The last statement to evaluate in the cell is automatically printed. So, the `print` statement is redundant.

1. Click on this cell. This cell will highlight.
1. Click the "+ CODE" button in the header. This will create a cell in the next line.
1. In this cell, enter:

> ```python
> # YOUR NAME HERE
> "Hello world!"
> ```

----------

In [ ]:
"Hello world!"

'Hello world!'

### What's the difference?

The  `print(x)` function writes the result of `str(x)` to the standard output. In a jupyter notebook, everything written to `stdout` is printed directy below the code cell.

In [ ]:
# Here we write a value to stdout, which is the same thing as print().

import sys

sys.stdout.write( "Hello, standard out!\n" )
print( "Hello, print!" )

Hello, standard out!
Hello, print!

In [ ]:
"Hello, Jupyter cell!"

'Hello, Jupyter cell!'

## Lesson 0.2: More than text

When a cell is executed, a text value of the result of the last line is always printed.

1. Create a cell and enter this:

> ```python
> # YOUR NAME HERE
> a = YOUR OWN NUMBER
> a
> ```

2. Run it.

_Technially_: The string result of `repr(LAST_EXPRESSION)` is printed  below a cell after it's executed.

--------

In [ ]:
a = 42
print(a)

42

# 1.0 Intro to Python

Let's jump right in.

A Python program is a series of expressions and statements. Don't worry about the specifics, but very roughly:

* A **statement** is like a **verb**. It **does** something.
* An **expression** is like a **noun**. It **is** something.

The simplest Python program is a single expression, and the simplest expression is a number.

Open up a code cell, type a number, and execute the cell.

In [ ]:
# Statement
49

49

In [ ]:
# Expression
a = 49

In [ ]:
print(a)

49

##  1.10 Literal Expressions

An expression which expresses a single value is called a **literal**. A literal has a **type**. The above literal is an **integer**.

Python has several numeric types.

Here's a floating point number:

In [ ]:
# Floating Point Number
4.52324

4.52324

#### 1.11 Complex Numbers

In [ ]:
# Complex Number
complex(1, 5)

(1+5j)

As I mentioned before, literals have types. In fact - the result of _all_ expressions have a type. You can check the type of an expression with the `type` function.

```python
type(EXPRESSION)
```

Try it out.

In [ ]:
type(5)

int

In [ ]:
a = 5
type(a)

int

In [ ]:
a = 5.2
type(a)

float

In [ ]:
type(complex(4, 3))

complex

# Swapping the values of two variables

In [ ]:
a=5
b=10
c=0

c=a
a=b
b=c

In [ ]:
b

5

In [ ]:
a

10

## 1.20 Arithmetic Expressions

Python provides several simple arithmetic expressions for use with numeric literals.

* `+` addition
* `-` subtraction
* `*` multiplication
* `/` division
* `**` exponentiation

### 1.21 Other types of arithmetic expressions:

* `//` floor division
* `%` Modulo

In [ ]:
# Examples 

# Addition
a = 10
print(a + 2)

12

In [ ]:
# Subtraction
print(a - 2)

8

In [ ]:
# Multiplication
print(a * 2)

20

In [ ]:
# Division
print(a/2)

5.0

In [ ]:
# Exponentiation
a = 5
b = 2
print(a ** b)

25

Concatenation in Python

In [ ]:
x="Hello"
y="Python"
z="World"
con=x+y+z
print(con)
con=x+' '+y+' '+z
print(con)

HelloPythonWorld
Hello Python World

In [ ]:
x=5
y="candies"
z=str(x)+' '+y
print(z)

5 candies

Questions: 

1. What is Floor division?
2. What is Modulo

In [ ]:
#Floor Division
print(17 // 8)

2

In [ ]:
# Modulo
print(17 % 9)

8

## 1.30 Variable Expressions

Python provides a way to name values called **variables**. You're probably used to variables from algebra, where they're used to store numbers.

$$ x_i = 15.4 $$

In Python, variables are declared with an **assignment statement**, which simultaneously creates the variable and assigns it a value. This is accomplished with the **assignment operator** `=`, like this:

```python
VARIABLE = VALUE_EXPRESSION
```

For example, here we create a value `a` and assign it the float-typed value `1969.2121`.

In [ ]:
a = 1969.2121
b = 10
c = a + b
print(c)

1979.2121

**Note** the assignment operator `=` is pronounced "gets", _not_ "equals". The statement `a = 12` is pronounced "ay gets twelve".


#### 1.31 Code readability 

The use of descriptive variable names is an important part of writing readable code. The convention in python is to use one to threeish lower-case words joined using an underscore. For example:

`birthday`

or

`party_date`

In some cases convention allows for shorter variable names. `i` is a conventional name for a loop counter, for instance.

### Right-to-left execution

If you try the following code, what do you think will happen?

```python
a = 7
a = a*2
print( a )
```

Try it out in your own notebook!

In [ ]:
a = 7
a = a*2
print( a )

14

In [ ]:
# This is the same as above but with a different method
a = 7
a *= 2
print( a )

14

Against intuition, this actually works. This is because an assignment statement is evaluated **right to left**. First the expression on the right of the `=` is evaluated, and then the result is assigned to the variable on the left.

Changing variables in this way occurs so commonly that there is built-in shorthand for it. The result of the first line could have been achieved with `x += 5`. This **syntactic sugar** is available for all the simple operations `+`, `-`, `*`, `/`, `**`, and `%` that we covered earlier.

# Calculate average of 3 numbers

In [ ]:
first_number = 4
second_number = 7
third_number = 8

#write a general formula for 3 numbers
average = (first_number +
second_number + 
third_number) / 3

print(average)

6.333333333333333

## 1.4 Logic

We can't write a program without the ability to make a _choice_, and the `if` statement provides this ability. The `if` statement provides a way to specify that a statement should only be executed _if a given condition expression evaluates to True_.

The general syntax of an `if` statement in Python is:

```python
if condition:
    if_block_statement
```

Notice how the `if` statement ends in a colon `:`. This is the way that Python declares the start of an indentation block.

In [ ]:
# Example 1
if True:
  print("True!")

True!

In [ ]:
# Example 2
a = 3
if a == 5:
  print(a)

In [ ]:
# Example 3
a = 3
if a != 3:
  print("false")
else:
  print("true")

true

In [ ]:
num = 10

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

###Logic with Functions

We will explore this more later, but for now, I want to quickly introduce you to functions in python.  The syntax for a function is fairly simple, and the more you see it, the easier it will become.  

1. Every function starts with a declaritive statement where you can pass the function arguments.  Once again, make sure that the function name represents what the function does

2. Every function needs a return statement that can return nothing, or something useful.

In [ ]:
# Declare and name the function
def add(a,b):
  
  # Add the two numbers and save as a new variable
  c = a + b
  
  # Return the value c
  return c

# Call the function with a = 10, and b = 15
add(10,15)

25

### Conditionals

Let's tackle this one part at a time. What does it mean to be a condition? Really, all an `if` is checking is whether the conditional evaluates to `True` or `False`. If the condition is true, then the body of the `if` statement is executed. If the condition is false, the `if` block is skipped. Intuitively, true and false are concepts that make perfect sense to us. But we should take the time to clearly define them in a programming context here.

In [ ]:
a = 3
print(a != 3)

False

In [ ]:
def add_even(a,b):
  
  if a % 2 == 0:
    
    return a + b
  else:
    print('a is not even')
    return None
  
add_even(12,3)

15

# Lists
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
Its a collection which is ordered and changeable. Allows duplicate members.
Lists are created using square brackets:

In [ ]:
fruit = ["apple", "banana", "cherry"]
print(fruit)

['apple', 'banana', 'cherry']

In [ ]:
#To determine how many items a list has, use the len() function:

len(fruit)

3

In [ ]:
list1 = [1, 5, 7, 9, 3]
list1

[1, 5, 7, 9, 3]

In [ ]:
#different datatypes

list2 = ["abc", 34, True, 40, "male"]
list2

['abc', 34, True, 40, 'male']

In [ ]:
#changeability

list2[0]="xyz"
list2

['xyz', 34, True, 40, 'male']

# Tuples
Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
fruits = ("apple", "cherry","banana")
print(fruits)

('apple', 'cherry', 'banana')

In [ ]:
#allows duplicates

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
#tupel length
len(thistuple)

5

In [ ]:
#remeber the comma for single item tuple

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
#different datatypes:
tuple1 = ("abc", 34, True, 40, "male")
tuple1

('abc', 34, True, 40, 'male')

In [ ]:
#unchangeability

tuple1[0]="xyz"
tuple1

TypeError: ignored

# Loops

A for loop can be used to access the elements in a list or other Python data structure one at a time.

In [ ]:
#loop iterating a range of number

for num in range(5):
    print(num)

0
1
2
3
4

In [ ]:
#loop iterating a string

for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#loop for iterating over a list

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
#use of break statememnt

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
#use of continue statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry